# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Files that help ensure VSCode can work but we don't want checked into the
# repo
/node_modules
/tsconfig.json

# compiled wasm files
std/wasi/testdata/snapshot_preview1/

# generated v8 coverage files
cli/tests/.test_coverage/

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache

# Serverless directories
.serverless/

# Editors
.idea/
.vscode/

#Build
build/